@inherits LayoutComponentBase
@using AlgorithmEasy.StudentSide.Layouts.MainLayout.Components

<div class="page">
    <top-row>
        <TopRow></TopRow>
    </top-row>

    <main>
        @Body
    </main>
</div>
