@inject IJSRuntime _jsRuntime

<workspace class="w-100 h-100">
    <div id="blockly" class="w-100 h-100"></div>
    <pre class="w-100 h-100 overflow-auto p-1" hidden="@(Type != DisplayMode.Python)"><code id="python-code"></code></pre>
</workspace>
<blockly id="blocklyDiv" class="position-fixed" hidden="@(Type != DisplayMode.Blockly)"></blockly>


@code
{
    DisplayMode Type { get; set; } = DisplayMode.Blockly;

    void DisplayCode() => Type = DisplayMode.Python;
    void DisplayBlockly() => Type = DisplayMode.Blockly;

    enum DisplayMode
    {
        Blockly,
        Python
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await _jsRuntime.InvokeVoidAsync("Blockly.start", "blocklyDiv");
        }
        await base.OnAfterRenderAsync(firstRender);
    }
}
