@using AlgorithmEasy.StudentSide.Layouts.WorkspaceLayout.Components
@inherits LayoutComponentBase
@layout MainLayout

<CascadingValue Value="@this">
    <workspace-layout-container class="d-flex vw-100 h-100">
        <left class="h-100">
            @Body
        </left>
        <right class="h-100 d-flex flex-column">
            <div class="w-100 h-75 d-flex">
                <div class="@(ShowCourse ? "w-50" : "w-100")">
                    <Workspace></Workspace>
                </div>
                @if (ShowCourse)
                {
                    <CourseViewer></CourseViewer>
                }
            </div>
            <div class="w-100 h-25 p-2">
                <Terminal></Terminal>
            </div>
        </right>
    </workspace-layout-container>
</CascadingValue>

@code
{
    public bool ShowCourse { get; set; } = true;
}
