@using AlgorithmEasy.StudentSide.Layouts.WorkspaceLayout.Components
@using AlgorithmEasy.StudentSide.Shared.Enums
@inherits LayoutComponentBase
@layout MainLayout
@inject IJSRuntime _jsRuntime

<CascadingValue Value="@this">
    <workspace-layout-container class="d-flex vw-100 h-100">
        <left class="h-100">
            @Body
        </left>
        <right class="h-100 d-flex flex-column">
            <div class="w-100 h-75 d-flex p-2">
                <blockly class="w-100 h-100" hidden="@(!Type.HasFlag(DisplayType.Workspace))">
                    <Workspace></Workspace>
                </blockly>
                <div class="w-100 h-100 overflow-auto" hidden="@(!Type.HasFlag(DisplayType.CourseViewer))">
                    <CourseViewer></CourseViewer>
                </div>
            </div>
            <div class="w-100 h-25 p-2">
                <Terminal></Terminal>
            </div>
        </right>
    </workspace-layout-container>
</CascadingValue>

@code
{
    [CascadingParameter]
    public MainLayout Layout { get; set; }

    DisplayType _type;
    public DisplayType Type
    {
        get => _type;
        set
        {
            if (_type == value) return;
            _type = value;
            InvokeAsync(StateHasChanged);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await _jsRuntime.InvokeVoidAsync("Blockly.resizeWorkspace");
        Console.WriteLine(1);
        await base.OnAfterRenderAsync(firstRender);
    }

    public Page Page
    {
        set
        {
            Layout.Page = value;
            InvokeAsync(StateHasChanged);
        }
    }

    [Flags]
    public enum DisplayType
    {
        None,
        Workspace,
        CourseViewer,
        Both = Workspace | CourseViewer,
    }
}