@inherits LayoutComponentBase

<div class="page">
    <top-row>
        <top-row-container class="h-100 px-4 d-flex justify-content-end align-items-center">
            <div id="clock" class="mx-2 fa-lg"></div>
            <i class="fas fa-power-off mx-2 fa-lg"></i>
        </top-row-container>
    </top-row>

    <main>
        @Body
    </main>
</div>
