@inherits LayoutComponentBase

<CascadingValue Value="@this">
    <div class="page">
        <top-row>
            <top-row-container class="h-100 px-4 d-flex justify-content-between">
                <left class="d-flex align-items-center">
                    @switch (Page)
                    {
                        case Page.Project:
                            <i class="fas fa-book-reader fa-lg"></i>
                            break;
                        case Page.Course:
                            <i class="fas fa-laptop-code fa-lg"></i>
                            break;
                    }
                </left>
                <right class="d-flex align-items-center">
                    <div id="clock" class="mx-2 fa-lg"></div>
                    @if (Page == Page.Index)
                    {
                        <i class="fas fa-power-off mx-2 fa-lg"></i>
                    }
                    else
                    {
                        <i class="fas fa-cog mx-2 fa-lg"></i>
                    }
                </right>
            </top-row-container>
        </top-row>

        <main>
            @Body
        </main>
    </div>
</CascadingValue>

@code
{
    Page _page;

    public Page Page
    {
        get => _page;
        set
        {
            _page = value;
            InvokeAsync(StateHasChanged);
        }
    }
}
