@inherits LayoutComponentBase

<div class="page">
    <top-row>
        <top-row-container class="h-100 px-4 d-flex justify-content-between">
            <left class="d-flex align-items-center">
                <i class="fas fa-book-reader fa-lg"></i>
                <i class="fas fa-laptop-code fa-lg"></i>
            </left>
            <right class="d-flex align-items-center">
                <div id="clock" class="mx-2 fa-lg"></div>
                <i class="fas fa-cog mx-2 fa-lg"></i>
            </right>
        </top-row-container>
    </top-row>

    <main>
        @Body
    </main>
</div>
