@page "/"
@namespace AlgorithmEasy.StudentSide.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>StudentSide</title>
    <base href="~/"/>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet" />
    <link href="AlgorithmEasy.StudentSide.styles.css" rel="stylesheet"/>
    <link href="_content/Blazor.ContextMenu/blazorContextMenu.min.css" rel="stylesheet" />
    <link href="lib/font-awesome/css/all.min.css" rel="stylesheet"/>
    <link href="css/blockly.css" rel="stylesheet"/>
    <link href="lib/github-markdown-css/github-markdown-light.min.css" rel="stylesheet"/>
    <link href="lib/highlight.js/styles/default.min.css" rel="stylesheet"/>
</head>
<body>
<component type="typeof(App)" render-mode="ServerPrerendered" />

<div id="blazor-error-ui">
    <environment include="Staging,Production">
        An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
        An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

<script src="_framework/blazor.server.js"></script>
<script src="_content/Blazor.ContextMenu/blazorContextMenu.min.js"></script>

<script src="js/Clock.js"></script>

<script src="lib/blockly/blockly_compressed.js"></script>
<script src="lib/blockly/core-browser.js"></script>
<script src="lib/blockly/zh-hans.js"></script>
<script src="lib/blockly/blocks_compressed.js"></script>
<script src="lib/blockly/python_compressed.js"></script>
<script src="lib/limonte-sweetalert2/sweetalert2.all.min.js"></script>
<script src="js/Blockly.js"></script>

<script src="js/Terminal.js"></script>

<script src="lib/marked/marked.min.js"></script>
<script src="lib/dompurify/purify.min.js"></script>
<script src="js/Markdown.js"></script>
<script src="lib/mathjax/es5/tex-mml-chtml.min.js"></script>

<script src="lib/highlight.js/highlight.min.js"></script>
<script src="lib/highlightjs-line-numbers.js/highlightjs-line-numbers.min.js"></script>
</body>
</html>
