@page "/Course"
@using AlgorithmEasy.StudentSide.Layouts.WorkspaceLayout
@layout WorkspaceLayout

<course-container class="w-100 h-100 d-flex flex-column">
    <top-row></top-row>
    <div class="px-3 fs-3">我的课程</div>
    <course-list>
        <ul class="list-group list-group-flush my-3">
            <li class="list-group-item active">BubbleSort</li>
            <li class="list-group-item inactive">Fuck</li>
            <li class="list-group-item inactive">前端入门</li>
            <li class="list-group-item inactive">后端入门</li>
        </ul>
    </course-list>
</course-container>

@code {

    [CascadingParameter]
    public WorkspaceLayout Layout { get; init; }

    protected override Task OnInitializedAsync()
    {
        Layout.ShowCourseViewer = false;
        Layout.Page = Page.Course;
        return base.OnInitializedAsync();
    }

}