@page "/Project"
@using AlgorithmEasy.StudentSide.Layouts.WorkspaceLayout
@layout WorkspaceLayout

<project-container class="w-100 h-100 d-flex flex-column">
    <top-row class="d-flex justify-content-end align-items-center px-3">
        <i class="fas fa-save mx-1 fa-lg"></i>
        <i class="fas fa-plus mx-1 fa-lg"></i>
    </top-row>
    <div class="px-3 fs-3">我的项目</div>
    <project-list>
        <ul class="list-group list-group-flush my-3">
            <li class="list-group-item active">BubbleSort</li>
            <li class="list-group-item">Fuck</li>
            <li class="list-group-item">狗都不写前端</li>
            <li class="list-group-item">狗才写后端</li>
        </ul>
    </project-list>
</project-container>

@code {

}