.page {
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .page > * {
        width: 100vw;
    }

main {
    height: 95vh;
}

top-row {
    height: 5vh;
}
