<top-row-container class="px-4">
    <left>
        <img src="image/course.svg" class="fa" />
    </left>
    <right>
        <div id="clock"></div>
        <img src="image/setting.svg" class="fa" />
    </right>
</top-row-container>
