<top-row-container class="px-4">
    <left>
        <i class="fas fa-book-reader"></i>
        <i class="fas fa-laptop-code"></i>
    </left>
    <right>
        <div id="clock"></div>
        <i class="fas fa-cog"></i>
    </right>
</top-row-container>
